<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="tests/bootstrap.php"
>
    <php>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <!-- mirrors .env.test; keeps CI simple -->
        <env name="DATABASE_URL" value="mysql://api_user:secret@db:3306/api_db?serverVersion=8.0&amp;charset=utf8mb4"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
